* {
	box-sizing: border-box;

}
html {
  overflow-x: hidden;
}


/* Style the body */
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;

 	overflow-y: auto;
 	overflow: scroll;
	

}

/* Header/logo Title */
.header {
padding: 80px;
text-align: center;
background: url("/static/img/front3.png") 40% no-repeat fixed;
height: 325px;
color: white;


}
h1 {
	text-align: center;
}
.cons {
	position: fixed;
	font-size: 10px;
	left: 0;
  /*background-color: #241C3B !important; */

	
}
.responsive {
  width: 100%;
  height: auto;
}

.sideTitle {
  font-size: 22px;
  background-color: #241C3B !important; 
  margin-top: -39px;
  margin-left: 70px;

  color: white;
  font-family: Lato, Helvetica, Verdana, sans-serif;
}


.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.6); /* Black w/opacity/see-through */
  color: black;
  font-weight: bold;
 /* border: 3px solid #f1f1f1;*/
  position: absolute;
  top: 15%;
  left: 37%;

  /*transform: translate(-50%, -50%);*/
  z-index: 2;
  width: 350px;
  height: 100px;
  padding: 20px;
  text-align: center;
  font-family: CenturyGothic, sans-serif;
  display: inline-block;
}

 
.navbar {
	overflow: hidden;
	background-color: #061e3e;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	font-family: Arial, Helvetica, sans-serif;
  padding-left: 30px;

}

b {
	color: black;
}


/* Style the navigation bar links */
.navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 10px 30px;
	font-size: 12px;
	text-decoration: none;
	padding-top: 15px;
/*	margin-left: 15px;*/


}

i.fas {
  padding-right: 30px;
}
i.fa {
  padding-right: 30px;
}

/* Right-aligned link */
.navbar a.right {
	float: right;
	right: 20%;
	text-align: center;
	padding: 10px;
	
}

/* Change color on hover */
.navbar a:hover {
/*	background-color: #ddd;*/
	color: gray;
	text-decoration: none;
}

/* Active/current link */
.navbar a.active {
/*	background-color: #666;*/
/*	color: white;*/
}


/* Fake image, just for this example */
.fakeimg {
	background-color: #aaa;
	width: 100%;
	padding: 20px;

	/*background: url("/static/img/second.jpg") ;*/

}

.nyoman {

		text-indent: 50px;
		text-align: justify;
	/*	padding: 15px;*/
		text-decoration: none;
		font-size: 20px;
		line-height: 1.5;
 		font-family: Elena;
}




.ny {
	text-indent: 90px;
}

h4 {
	text-align: center;
}

p {
margin-top: 20px;
/*		text-indent: 50px;*/
text-align: justify;
/*		padding: 15px;*/
/*padding-left: 25px;*/
padding-right: 25px;
text-decoration: none;
color: black;
}



div.gallery {

	float: left;
	width: 230px;

	padding-left: 40px;


}

div.one img {
		object-fit: cover;
	border-radius: 15px;

}
div.two img {
		object-fit: cover;
			border-radius: 15px;




}


}

div.gallery img {
	width: 100%;
	height: auto;
}

div.desc {
	padding: 15px;
	text-align: center;
}








/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: black;
  
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */





.col-container {
  display: table;
  width: 100%;
  object-fit: contain;
}
.col {
  display: table-cell;
  padding: 16px;
}

.etch {
	float: left;
}

.blank {

	margin: 30px;
}


.hh {
background-color: red;
width: 420px;
height: 260px;
float: right;
padding: 20px;
border-radius: 15px;
}


h6 {
text-align: center;

}
button {


}
.input {
	padding: 5px;
	width: 380px;
	border-radius: 10px;
	text-indent: 10px;
	margin-top: 10px;

}
p.footer-links {
  font-size: 25px;
  color: white;
}
p.footer-links:hover {
  text-decoration: none;
}



/* Footer */
.footer {
	padding: 20px;
	background: #241C3B;
	width: 100%;
	color: white;
	float: left;
  overflow-x: hidden;



/*	float: left;*/
}
.footer-links {
	margin-top: 25px;
	float: left;
  margin-left: 30px


}

.footer-links a {
		color: white;

}



/*.jj {
	margin-left: 190px;
}*/











/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 40%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
			

.imegs {
	float: right;	
}
.parag {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.plex {

		text-align: justify;

		font-size: 20px;
		line-height: 1.5;
 		/*font-family: Elena;*/

 		font-family: Arial, Helvetica, sans-serif;


}
.mobb {
  float: left;
  /*position: absolute;*/
}
.about2 {

	background-color: white;
	float: left;
  padding: 20px;

}

.B {
  margin-left: -30px;
  font-size: 15px;
}


.about {
	-ms-flex: 50%; /* IE10 */
	flex: 50%;
	background-color: #f1f1f1;
	background-color: white;


}

.about p {
		font-size: 20px;
		line-height: 1.5;
    font-family: Lato, Helvetica, Verdana, sans-serif;
/* 		font-family: Elena;*/
}




/*
.cardholders {
	perspective: 600px;
	margin-top: 50px;
  overflow-y: hidden; 
}
.cards {
  width: 300px;
  height: 300px;
  background-color: transparent;
  transform: rotateY(50deg);
  box-shadow: -6px 5px 13px 2px rgba(0, 0, 0, 0.25);
  transition: all 1s ease;
  color: transparent;
}*/





/*gallery images 3D style*/
.cardholder {
  margin-top: 50px;
  perspective: 600px;
}
.card {
  width: 300px;
  height: 300px;
  background-color: transparent;
  transform: rotateY(45deg);
  box-shadow: -6px 5px 13px 2px rgba(0, 0, 0, 0.25);
  transition: all 1s ease;
  color: transparent;
}
.card:hover {
  width: 300px;
  height: 300px;
  background-color: transparent;
  transform: rotateY(0deg);
  box-shadow: 0px 0px 36px 2px rgba(0, 0, 0, 0.25);
  color: black;
}
.card:hover p {
  background-color: white;
}

p.desc {
  z-index:999;
  position: absolute;
  top: 10px;
  padding: 10px;
}
p.desc:hover {
}



.rowt {
	/*background: linear-gradient(to left, #ffc3a0, #FFAFBD );*/

	height: 400px;
}





a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

iframe {
	overflow-y: scroll;
}
.wrapper {
  overflow-x: hidden;
}
.sidenav {
  overflow-x: hidden; 
   width: 0px;  /* Remove scrollbar space */
    background: transparent;
}

.ayprem {
	overflow: scroll;
	background-color: white;
	height: 500px;
	border-radius: 20px;
	width: 530px;
	text-align: right;
  overflow-x: hidden;


}

.feedbacks {
	text-align: center;
	overflow: scroll;
	height: 500px;
	width: 100%;
}
.recommed{
	text-align: center;
}

/* Handle */



h4{
	text-align: center;
}


.h2 {
	/*text-align: left;*/
	text-indent: 60px;
}


.frem {

	height: 600px;
	direction:ltr;
	padding-top: 20px;

}
.item_direction {

	direction: rtl;
	overflow: scroll;
	overflow-x: hidden;
}

.cus {
padding-left: 60px;


}
.bord {
	

}

.mc {
	overflow: scroll;
		height: 300px;	
		border: 1px solid black;
		border-radius: 20px;
}

.as {
	overflow: scroll;
	text-align: center;
	background-color: white;
}
.gf {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

.stickk {

}


/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #651E40;
  color: white;
  /*padding: 16px 20px;*/
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 160px;
  border-radius: 14px;


}


/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  /*border: 3px solid #f1f1f1;*/
  z-index: 9;
  background-color: white;
  overflow: scroll;
}

/* Add styles to the form container */



.open-button.chat-popup.scorwl {
	background-color: blue;
	overflow: scroll:
}


/*sidenav*/
.sidenav {
  height: 100%;
  width: 0;
 /* position: fixed;
  z-index: 1;*/
  top: 0;
  right: 0;
  background-color: #241C3B;
  transition: 0.5s;
  padding-top: 60px;
  overflow: scroll;
  margin-bottom: 10px;
  overflow-x: hidden;
  position: fixed;

right: 0;
/*
left: 0;*/

z-index: 999;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: -5px;
  font-size: 35px;
  margin-right: 50px;


}

#main {
  transition: margin-left .5s;
  /*padding: 16px;*/
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}




.ass {
	background-color: white;
	margin: 30px;

}
.navTrigger {
    display: none;
}

@media screen and (min-width: 700px) {
     span.navTrigger {
      text-align: left;
    }

     .navTrigger {
        display: block;
        content: ""; clear: both; display: block;
    }

}

.wrapper {
  width: auto;
  height: auto;
  margin: 0 auto;
  background: white;
}
.h_iframe iframe {
  padding-right: 10px;
}
.h_iframe .ratio {
  display: block;
  width: 100%;
  height: auto;
  margin-right: 20px;
}

@media screen and (min-width: 320px) and (max-width: 320px;) {
  .bg-text {
  position: absolute;
  top: 20%;
  left: -5%;
  background-size: 5px;

  }
  .typewriter p.ny {
      font-size: 5px;
  }
  .typewriter h1{
    font-size: 20px;
  }
}


/*sidenav*/


/*#mySidenav a {
  position: absolute;
  left: -180px;
  transition: 0.3s;
  padding: 15px;
  width: 200px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#main {
  top: 60%;
  background-color: #85263e;
}

#blog {
  top: 70%;
  background-color: #651e3e;
}

#projects {
  top: 80%;
  background-color: #251e3e;
}

#contact {
  top: 90%;
  background-color: #061e3e;
}*/



.oo figure
{
	width: 600px;
	height: 256px;
}






/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
	.row {   
		flex-direction: column;
	}
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
	.navbar a {
		float: none;
		width: 100%;
	}

}

/*footer*/

.cards-wrapper {
  position: relative;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-wrapper {
  display: block;
  float: left;
  position: relative;
  margin: 0;
  width: 28%;
  height: 0;
  padding: 0 0 28%;
  -webkit-perspective: 700px;
          perspective: 700px;
}
.card-object {
  color: #FFF;
  display: block;
  float: left;
  position: absolute;
  top: 6%;
  left: 6%;
  width: 88%;
  height: 88%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.card-object.card-1 .front {
  background: #222 url("/static/img/z3.jpg") 90% 35%;
  background-size: 115%;
}
.card-object.card-1 .back .img-wrapper {
  background: transparent url("/static/img/z3.jpg") 70% 45%;
  background-size: 160%;
}
.card-object.card-1 .back .avatar {
  background: transparent url("/static/img/z3.jpg") 40% 20%;
  background-size: 130% 130%;
}
.card-object.card-2 .front {
  background: #222 url("/static/img/image4.jpg") 50% 90% no-repeat;
  background-size: 105%;
}
.card-object.card-2 .back .img-wrapper {
  background: transparent url("/static/img/image4.jpg") 70% 50%;
  background-size: 140%;
}
.card-object.card-2 .back .avatar {
  background: transparent url("/static/img/image4.jpg") 50% 50% no-repeat;
  background-size: 140% 140%;
}
.card-object.card-3 .front {
  background: #222 url("/static/img/ima.png") 80% 100% no-repeat;
  background-size: 100%;
}
.card-object.card-3 .back .img-wrapper {
  background: transparent url("/static/img/ima.png") 90% 40% no-repeat;
  background-size: 115%;
}
.card-object.card-3 .back .avatar {
  background: #fff url("/static/img/ima.png") 0 50% no-repeat;
  background-size: 120% 120%;
}
.card-object.card-4 .front {
  background: #222 url("/static/img/z5.jpg") 90% 35%;
  background-size: 135%;
}
.card-object.card-4 .back .img-wrapper {
  background: transparent url("/static/img/z5.jpg") 70% 45%;
  background-size: 160%;
}
.card-object.card-4 .back .avatar {
  background: transparent url("/static/img/z5.jpg") 40% 20%;
  background-size: 130% 130%;
}
.card-object.card-5 .front {
  background: #222 url("/static/img/z1.jpg.jpg") 50% 90% no-repeat;
  background-size: 105%;
}
.card-object.card-5 .back .img-wrapper {
  background: transparent url("/static/img/z1.jpg.jpg") 70% 50%;
  background-size: 140%;
}
.card-object.card-5 .back .avatar {
  background: transparent url("/static/img/z1.jpg.jpg") 50% 50% no-repeat;
  background-size: 140% 140%;
}
.card-object.card-6 .front {
  background: #222 url("/static/img/z7.jpg") 80% 100% no-repeat;
  background-size: 100%;
}
.card-object.card-6 .back .img-wrapper {
  background: transparent url("/static/img/z7.jpg") 90% 40% no-repeat;
  background-size: 115%;
}
.card-object.card-6 .back .avatar {
  background: #fff url("/static/img/z7.jpg") 0 50% no-repeat;
  background-size: 120% 120%;
}

.card-object.flip-in.card-1,
.card-object.flip-in.card-3 {
  -webkit-animation: flip-2-hor-top-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
          animation: flip-2-hor-top-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}
.card-object.flip-in.card-2 {
  -webkit-animation: flip-2-hor-bottom-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
          animation: flip-2-hor-bottom-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}
.card-object.flip-out.card-1,
.card-object.flip-out.card-3 {
  animation: flip-2-hor-top-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) reverse both;
}
.card-object.flip-out.card-2 {
  animation: flip-2-hor-bottom-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) reverse both;
}
.card-object-hf .back {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.face {
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.face.front {
  z-index: 20;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.face.front::before {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  content: "";
 /* background: linear-gradient(45deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.1) 100%) no-repeat;
*/  opacity: 0.7;
  z-index: 20;
  transition: opacity 0.2s ease;
}
.face.front::after {
  position: absolute;
  top: 7%;
  right: 7%;
  bottom: 7%;
  left: 7%;
  border: 1px solid rgba(255, 255, 255, 0.35);
  z-index: 100;
  content: "";
}
.face.front .title-wrapper {
  position: absolute;
  bottom: 3%;
  left: 25%;
  right: 25%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  z-index: 100;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
}
.face.front .title-wrapper .title {
  position: relative;
  font-family: 'Archivo Black', sans-serif;
  width: 100%;
  text-transform: uppercase;
  font-size: 2vw;
  line-height: 1;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}
.face.front .title-wrapper .title::after {
  display: block;
  margin: 7% auto 8% auto;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #fff;
  opacity: 0.5;
  -webkit-transform: scale(0);
          transform: scale(0);
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
}
.face.front .title-wrapper .subtitle {
  font-size: 0.9vw;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.15s;
}
.face.front:hover::before {
  opacity: 0.9;
}
.face.front:hover .title-wrapper {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.face.front:hover .title-wrapper .title {
  opacity: 1;
}
.face.front:hover .title-wrapper .title::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0.5;
  transition-delay: 0.15s;
  transition-duration: 0.2s;
}
.face.front:hover .title-wrapper .subtitle {
  opacity: 0.7;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
}
.face.back {
  color: #222;
  background: #fff;
  z-index: 10;
}
.info-container {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  top: 6%;
  right: 6%;
  bottom: 6%;
  left: 6%;
  padding: 0;
}
.img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 38%;
  z-index: 10;
}
.img-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(14, 6, 70, 0.6);
  opacity: 0.7;
}
.avatar {
  position: absolute;
  left: 50%;
  height: 68%;
  width: 25.84%;
  display: block;
  border-radius: 50%;
  margin-top: 25.08%;
  margin-left: -12.92%;
  background-color: #fff;
  border: 3px solid #FFF;
  z-index: 20;
}
.info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 50.92%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 4% 15% 15%;
}
.info-title {
  font-size: 1.5vw;
  font-family: 'Archivo Black', sans-serif;
  text-align: left;
  padding: 0;
  margin: 0;
  text-align: center;
  display: block;
  width: 100%;
}
.info-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8% 0 0;
  margin: 8% 0 0;
  border-top: 1px solid #e0e0e0;
}
.info-content-item {
  color: #222;
  font-size: 0.75vw;
  line-height: 1;
  text-align: center;
  display: inline-block;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #aaa;
}
.info-content-item span {
  display: block;
  font-weight: bold;
  font-size: 1.1vw;
  margin-top: 7px;
  text-transform: none;
  color: #222;
}
.info {
  position: absolute;
  bottom: 30px;
  left: 5%;
  right: 5%;
  font-size: 1em;
  text-align: center;
}
.info a {
  color: #8c0f8c;
  text-decoration: none;
}
.info a:hover {
  text-decoration: underline;
}
/* ----------------------------------------------
 * Generated by Animista on 2017-21-5 2:48:23
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation flip-2-hor-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes flip-2-hor-top-fwd {
  0% {
    -webkit-transform: translateY(0) translateZ(0) rotateX(0);
            transform: translateY(0) translateZ(0) rotateX(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: translateY(-100%) translateZ(100px) rotateX(-180deg);
            transform: translateY(-100%) translateZ(100px) rotateX(-180deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}
@keyframes flip-2-hor-top-fwd {
  0% {
    -webkit-transform: translateY(0) translateZ(0) rotateX(0);
            transform: translateY(0) translateZ(0) rotateX(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: translateY(-100%) translateZ(100px) rotateX(-180deg);
            transform: translateY(-100%) translateZ(100px) rotateX(-180deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}
/**
 * ----------------------------------------
 * animation flip-2-hor-bottom-fwd
 * ----------------------------------------
 */
@-webkit-keyframes flip-2-hor-bottom-fwd {
  0% {
    -webkit-transform: translateY(0) translateZ(0) rotateX(0);
            transform: translateY(0) translateZ(0) rotateX(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: translateY(100%) translateZ(100px) rotateX(180deg);
            transform: translateY(100%) translateZ(100px) rotateX(180deg);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}
@keyframes flip-2-hor-bottom-fwd {
  0% {
    -webkit-transform: translateY(0) translateZ(0) rotateX(0);
            transform: translateY(0) translateZ(0) rotateX(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: translateY(100%) translateZ(100px) rotateX(180deg);
            transform: translateY(100%) translateZ(100px) rotateX(180deg);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}


