{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Tour Bali</title>

<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/landing.css' %}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


<link rel="stylesheet" href="{% static 'css/component.css' %}">



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<!-- <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3"></script> -->

<script src="https://apps.elfsight.com/p/platform.js" defer></script>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>
<body>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>



<div id="main">
<div class="CONTAINER">
<div class="header" style="text-align: center;">
	<div class="responsive bg-text typewriter">
		<h1>TOUR BALI</h1>
		<p class="ny" style="font-size: 15px;">With NYOMAN ZENG</p>
	</div>
</div>


<div class="navbar pp">
	<a href="#" class="active">HOME</a>
	<a href="{% static 'grid' %}">ABOUT</a>
	<a href="#">GALLERY</a>
	<a href="#">SERVICES</a>
	
	<a href="" class="right phone"><i style='font-size:18px' class='fas t'>&#xf3fa;</i></a>
	<a href="" class="right email"><i style='font-size:20px' class='fas'>&#xf0e0;</i></a>
	<a href="" class="right facebook"><i style="font-size:20px" class="fa">&#xf230;</i></a>
</div>








<div id="mySidenav" class="sidenav">
	<div class="colorHeader">
		<pre style="font-size: 15px;" class="pre">    RECOMMENDATIONS AND REVIEWS     <a href="javascript:void(0)" onclick="closeNav()" class="closebtn"><b class="D">&times;</b></a></pre>
		<!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->

		<div class="" style="width: 100%" >
			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fkheinz.szaki%2Fposts%2F3593704237321941&width=350&show_text=true&height=665&appId" width="350" height="665" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br>


			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fjennifer.limayo%2Fposts%2F2478760015490040&width=350&show_text=true&height=474&appId" width="350" height="474" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br>

			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fyangkumi%2Fposts%2F10211271898753509&width=350&show_text=true&height=612&appId" width="350" height="612" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br>


			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fjomaxeeblue%2Fposts%2F10157526137858669&width=350&show_text=true&height=352&appId" width="350" height="352" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br>


			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmantas.dulevicius.7%2Fposts%2F1854552587899649%3A0&width=350&show_text=true&height=507&appId" width="350" height="507" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br>

			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fkaylene.e.schultz%2Fposts%2F10219193473778619&width=350&show_text=true&height=513&appId" width="350" height="513" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br>

			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmactimbal09%2Fposts%2F2215221545161302%3A0&width=350&show_text=true&height=482&appId" width="350" height="482" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br><br>


			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Frufino.eva%2Fposts%2F2360270434067557&width=350&show_text=true&height=545&appId" width="350" height="545" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br>

			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fxiloooveespink%2Fposts%2F2110117969001134%3A0&width=350&show_text=true&height=551&appId" width="350" height="551" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br>

			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fsteff.hugo%2Fposts%2F2540485952630255&width=350&show_text=true&height=270&appId" width="350" height="270" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br>

			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcharisse.victorio%2Fposts%2F10156457073324522%3A0&width=350&show_text=true&height=482&appId" width="350" height="482" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br>

			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D1241730945988049%26id%3D100004534666400&width=350&show_text=true&height=289&appId" width="350" height="289" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br>

			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FnapSoriano%2Fposts%2F10214701653148615%3A0&width=350&show_text=true&height=596&appId" width="350" height="596" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br>

			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcecilio.cid%2Fposts%2F1460083137364203%3A0&width=350&show_text=true&height=501&appId" width="350" height="501" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br>

			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Flili.mallillin%2Fposts%2F10211061164605036&width=350&show_text=true&height=640&appId" width="350" height="640" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br>

			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D2649675288380822%26id%3D100000151307892&width=350&show_text=true&height=588&appId" width="350" height="588" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br>

			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Froland.aliba%2Fposts%2F1703515163017058%3A0&width=350&show_text=true&height=387&appId" width="350" height="387" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br>

			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fobetcuenca%2Fposts%2F2884186284956407&width=350&show_text=true&height=678&appId" width="350" height="678" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br>


			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fsourabh.gupta.547727%2Fposts%2F10155042831753510%3A0&width=350&show_text=true&height=520&appId" width="350" height="520" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br>

			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FVellaDeCastro%2Fposts%2F10205190871888961&width=250&show_text=true&height=554&appId" width="250" height="554" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br>

			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Ffranz.klewitz%2Fposts%2F1265128460188043%3A0&width=250&show_text=true&height=507&appId" width="250" height="507" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br>

			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fdavid.strege.7%2Fposts%2F10210236324903822&width=350&show_text=true&height=440&appId" width="350" height="440" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br>

			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fczarinamae.gaspar%2Fposts%2F2553811031314068&width=350&show_text=true&height=622&appId" width="350" height="622" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br>

			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcarey.klinkert%2Fposts%2F10157054772454319&width=350&show_text=true&height=563&appId" width="350" height="563" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br>

			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fwinnie.lee.3304%2Fposts%2F10156977400468658&width=350&show_text=true&height=497&appId" width="350" height="497" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br>


		</div>



	</div>

		


	<!-- 	<div class="responsive wrapper">
  		<div class="responsive h_iframe">


  			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fkheinz.szaki%2Fposts%2F3593704237321941&width=270&show_text=true&height=665&appId" width="270" height="665" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br>

			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fkaylene.e.schultz%2Fposts%2F10219193473778619&width=500" width="320" height="584" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br>

	  		<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fyangkumi%2Fposts%2F10211271898753509&width=500" width="320" height="737" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br>

	  		<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Frufino.eva%2Fposts%2F2360270434067557&width=500" width="320" height="681" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br>

	  		<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fjennifer.limayo%2Fposts%2F2478760015490040&width=500" width="320" height="534" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>


		</div>
		</div>
	  -->
</div>


  
  <!-- <span style="font-size:30px;cursor:pointer; font-family: 'Montserrat'; color: black;" onclick="openNav()" class="mobb">&#9776; Guest reviews</span>
 -->

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-8" style="font-family: Lato, Helvetica, Verdana, sans-serif;  font-size: 20px; line-height: 1.2;" >
				<span style="font-size:30px;cursor:pointer; font-family: Lato, Helvetica, Verdana, sans-serif; color: black;" onclick="openNav()" class="mobb">&#9776; Guest reviews</span>
					<br><br>

			<div style="font-family: Lato, Helvetica, Verdana, sans-serif; background-color: #f1f1f1; border-radius: 20px; padding: 15px; text-align: center; padding-bottom: 10px; ">
				<p style="line-height: 1.4;">Hi! I am Nyoman Zeng, your friendliest tour guide from Bali.<br>
				Need a comfortable car ride around Bali with stories of Rama and Sitta right at your car seat?
					PLUS I can take Instagram and Facebook-worthy photos for you!</p>
				<p>Contact me via:
					<p><i style='font-size:22px' class='fas' >&#xf3fa;</i><a href="" class="B"> 6281337355072</a></p>

					<p><i style='font-size:20px' class='fas'>&#xf0e0;</i><a href="" class="B"> irinyoman0@gmail.com</a> </p>

					<p><i style="font-size:23px" class="fa">&#xf230;</i><a href="" class="B"> https://www.facebook.com/BaliTours-by-Nyoman-Zeng</a></p></p>

			</div>
		</div>

			<div class="col-sm-2" style="text-align: right; padding-bottom: 10px; padding-left: 5px; padding-right: 5px">
				<img src="{% static 'img/ima.png' %}" style="width: 100%; height: 240px; object-fit: cover; border-radius: 20px;">
			</div>

			<div class="col-sm-2" style="text-align: right; padding-bottom: 10px padding-left: 5px; padding-right: 5px">
				<img src="{% static 'img/zzz.jpg' %}" style="width: 100%; height: 240px; object-fit: cover; border-radius: 20px">
			</div>

	</div>
</div>


<div class="plex">	
		<div class="about2">
			<img src="{% static 'img/first.jpg' %}" style="width: 190px; height: 220px; border-radius: 20px;" >
		</div>
	<div class="about">
		<h2 style="font-size: 30px; font-family: Varela Round; "><b>ABOUT:</b></h2>
		<p>I am NYOMAN ZENG. You can call me NYOMAN.

		<br>Did you know, in Balinese, NYOMAN means third child?<br>

		I have been a tour guide and tourist driver for more than 8 years. 
		I enjoy meeting people from around the world and getting to know their different cultures.  I believe that the best way my guests can experience Bali is by introducing them to our culture and tradition. To make my guests feel safe, I always take the time to explain the hotels and tourist spots. I can offer a comfortable car ride with music from your home and  stories for my home.</p>

		<p>It is my pleasure to make you feel at home in Bali. You don't have to worry about me waiting - my hours for you are flexible and friendly. If you need a photographer, I can do that for you, too.

		This has been a passion even with my 2 years experience in a cruise ship and 10 years experience in the hotel industry. I look forward to showing you the beauty that is my home, Bali.</p><br><br>


	</div>

</div>



<div class="blank">
	
<p>                   </p>


</div>






<!-- Gallery -->
<!-- 
<div class="container-fluid">
    <h3 style="text-align: center; font-size: 30px;"><b>GALLERY</b></h3>
    <div class="row rowt">
        <div class="col-sm-3">
            <div class="cardholder">
                <div class="card">
                    <img src="{% static 'img/Lempuyangtemple.jpg' %}" style="width:100%; height: 255px; object-fit: cover; padding-top: 20px;" class="img-rounded">
                    <p class="desc">texthere.com</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="cardholder">
                <div class="card">
                    <img src="{% static 'img/image2.jpg' %}" style="width:100%; height: 255px; object-fit: cover; padding-top: 20px;" class="img-rounded" />
                    <p class="desc">texthere.com</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="cardholder">
                <div class="card">
                    <img src="{% static 'img/image1.jpg' %}" style="width:100%; height: 255px; object-fit: cover; padding-top: 20px;" class="img-rounded" />
                    <p class="desc">texthere.com</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="cardholder">
                <div class="card">
                    <img src="{% static 'img/image4.jpg' %}" style="width:100%; height: 255px; object-fit: cover; padding-top: 20px;" class="img-rounded" />
                    <p class="desc">texthere.com</p>
                </div>
            </div>
        </div>

    </div>
</div>



 -->




  <h3 style="text-align: center; font-size: 30px;"><b>GALLERY</b></h3>

<div class="cards-wrapper">
  <div class="card-wrapper">
    <div class="card-1 card-object card-object-hf"><a class="face front" href="#">
        <div class="title-wrapper">
          <div class="title">BALI</div>
          <div class="subtitle">felis hairyus</div>
        </div></a><a class="face back" href="#">
        <div class="img-wrapper">
          <div class="avatar"></div>
        </div>
        <div class="info-wrapper">
          <div class="info-title">NYOMAN ZENG</div>
          <ul class="info-content">
            <li class="info-content-item">Age <span>6 years</span></li>
            <li class="info-content-item">Length <span>46cm</span></li>
            <li class="info-content-item">Weight <span>4kg</span></li>
          </ul>
        </div></a></div>
  </div>
  <div class="card-wrapper">
    <div class="card-2 card-object card-object-hf"><a class="face front" href="#">
        <div class="title-wrapper">
          <div class="title">BALI</div>
          <div class="subtitle">felis catus</div>
        </div></a><a class="face back" href="#">
        <div class="img-wrapper">
          <div class="avatar"></div>
        </div>
        <div class="info-wrapper">
          <div class="info-title">NYOMAN ZENG</div>
          <ul class="info-content">
            <li class="info-content-item">Age <span>7 years</span></li>
            <li class="info-content-item">Length <span>42cm</span></li>
            <li class="info-content-item">Weight <span>3.8kg</span></li>
          </ul>
        </div></a></div>
  </div>
  <div class="card-wrapper">
    <div class="card-3 card-object card-object-hf"><a class="face front" href="#">
        <div class="title-wrapper">
          <div class="title">BALI</div>
          <div class="subtitle">felix pumus</div>
        </div></a><a class="face back" href="#">
        <div class="img-wrapper">
          <div class="avatar"></div>
        </div>
        <div class="info-wrapper">
          <div class="info-title">NYOMAN ZENG</div>
          <ul class="info-content">
            <li class="info-content-item">Age <span>5 years</span></li>
            <li class="info-content-item">Length <span>50cm</span></li>
            <li class="info-content-item">Weight <span>5.2kg</span></li>
          </ul>
        </div></a></div>
  </div>
</div>

<div class="cards-wrapper">
  <div class="card-wrapper">
    <div class="card-4 card-object card-object-hf"><a class="face front" href="#">
        <div class="title-wrapper">
          <div class="title">BALI</div>
          <div class="subtitle">felis hairyus</div>
        </div></a><a class="face back" href="#">
        <div class="img-wrapper">
          <div class="avatar"></div>
        </div>
        <div class="info-wrapper">
          <div class="info-title">NYOMAN ZENG</div>
          <ul class="info-content">
            <li class="info-content-item">Age <span>6 years</span></li>
            <li class="info-content-item">Length <span>46cm</span></li>
            <li class="info-content-item">Weight <span>4kg</span></li>
          </ul>
        </div></a></div>
  </div>
  <div class="card-wrapper">
    <div class="card-5 card-object card-object-hf"><a class="face front" href="#">
        <div class="title-wrapper">
          <div class="title">BALI</div>
          <div class="subtitle">felis catus</div>
        </div></a><a class="face back" href="#">
        <div class="img-wrapper">
          <div class="avatar"></div>
        </div>
        <div class="info-wrapper">
          <div class="info-title">NYOMAN ZENG</div>
          <ul class="info-content">
            <li class="info-content-item">Age <span>7 years</span></li>
            <li class="info-content-item">Length <span>42cm</span></li>
            <li class="info-content-item">Weight <span>3.8kg</span></li>
          </ul>
        </div></a></div>
  </div>
  <div class="card-wrapper">
    <div class="card-6 card-object card-object-hf"><a class="face front" href="#">
        <div class="title-wrapper">
          <div class="title">BALI</div>
          <div class="subtitle">felix pumus</div>
        </div></a><a class="face back" href="#">
        <div class="img-wrapper">
          <div class="avatar"></div>
        </div>
        <div class="info-wrapper">
          <div class="info-title">NYOMAN ZENG</div>
          <ul class="info-content">
            <li class="info-content-item">Age <span>5 years</span></li>
            <li class="info-content-item">Length <span>50cm</span></li>
            <li class="info-content-item">Weight <span>5.2kg</span></li>
          </ul>
        </div></a></div>
  </div>
</div>













<div class="blank">
	
<p>                   </p>


</div>




<!-- FOOTER START -->
<div class="footer">

   <h3 class="etch" style="font-size: 30px; font-weight: bold;">Services:</h3>

				<p class="footer-links">
					<a href="#">Tour Guide</a>
					|
					<a href="#">Hotel Inquiry</a>
					|
					<a href="#">Car Services</a>
		

				</p>

  </div>

</div> <!-- sidenav -->



<!-- <button class="open-button" onclick="openForm()">Reviews</button>


<div class="chat-popup" id="myForm" style="overflow:visible">


	<h4>Feedbacks and Recommendations 
		<i style="font-size:24px" class="fa">&#xf00d;</i>
		<button type="button" class="close" aria-label="Close" onclick="closeForm()">
  <span aria-hidden="true">&#x274C;</span>
	</h4>
</button> -->

<!-- 
<div class="ayprem">
	<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fkrystlejoy.chavez%2Fposts%2F2438578466180429&width=500" width="500px" height="256" style="border:none;overflow-y:scroll;" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
<br><br>

	<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fxiloooveespink%2Fposts%2F2110117969001134%3A0&width=500" width="280px" height="480" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

<br><br>
	<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fyangkumi%2Fposts%2F10211271898753509&width=500" width="280px" height="737" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

<br><br>
	<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fkaylene.e.schultz%2Fposts%2F10219193473778619&width=500" width="280px" height="584" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

<br><br>
	<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Frufino.eva%2Fposts%2F2360270434067557&width=500" width="280px" height="681" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

<br><br>
	<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmantas.dulevicius.7%2Fposts%2F1854552587899649%3A0&width=500" width="280px" height="455" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

<br><br>
	<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmactimbal09%2Fposts%2F2215221545161302%3A0&width=500" width="280px" height="430" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

<br><br>
	<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fjennifer.limayo%2Fposts%2F2478760015490040&width=500" width="280px" height="534" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

<br><br>	
<button type="button" class="btn cancel" onclick="closeForm()">Close</button>
</div> -->



  

</div>

  <script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

// openForm()

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>














<script> var $cards = $('.card-object'),
    $faceButtons = $('.face');

$faceButtons.on('click', flipCard);

function flipCard(event) {
  event.preventDefault();
  
  var $btnFace = $(this),
      $card = $btnFace.parent('.card-object');
  
  if( $card.hasClass('flip-in') ) {
    closeCards();
  } else {
    closeCards();
    openCard($card);
  }
  
}

function closeCards() {
  $cards.each( function() {
    $(this)
      .filter('.flip-in')
      .removeClass('flip-in')
      .queue( function() {
        // Force reflow hack
        var reflow = this.offsetHeight;
        $(this)
          .addClass('flip-out')
          .dequeue();
      })
      
  });
}

function openCard($card) {
  $card
    .removeClass('flip-out')
    .queue( function() {
      // Force reflow hack
      var reflow = this.offsetHeight;
      $(this)
        .addClass('flip-in')
        .dequeue();
    });
    
}</script>





















<!-- sidenav -->
<script>
function openNav() {
	$('.colorHeader').css('display', 'initial')
  document.getElementById("mySidenav").style.width = "360px";
  document.getElementById("main").style.marginRight = "360px";
}

function closeNav() {
	$('.colorHeader').css('display', 'none')
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginRight= "0";
}
</script>


  



		<script src="js/classie.js"></script>
		<script src="js/photostack.js"></script>
		<script>
			// [].slice.call( document.querySelectorAll( '.photostack' ) ).forEach( function( el ) { new Photostack( el ); } );
			
			new Photostack( document.getElementById( 'photostack-1' ), {
				callback : function( item ) {
					//console.log(item)
				}
			} );
			new Photostack( document.getElementById( 'photostack-2' ), {
				callback : function( item ) {
					//console.log(item)
				}
			} );
			new Photostack( document.getElementById( 'photostack-3' ), {
				callback : function( item ) {
					//console.log(item)
				}
			} );
		</script>





</div>


</body>
</html>
