{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Page Title</title>



<link rel="stylesheet" href="{% static 'css/landing.css' %}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>

<div class="header">
	<div class="bg-text">
	<h1>TOUR BALI</h1>
	<p>with NYOMAN ZENG</p>
</div>
</div>


<div class="navbar">
	<a href="#" class="active">Home</a>
	<a href="#">About</a>
	<a href="#">Gallery</a>
	<a href="#">Services</a>
</div>

<div class="row">
	<div class="side">
		<h2>About Me</h2>
		<p class="nyoman">Hi! I am Nyoman Zeng, your friendliest tour guide from Bali.
Need a comfortable car ride around Bali with stories of Rama and Sitta right at your car seat?
PLUS I can take Instagram and Facebook-worthy photos for you!
Contact me via:
(Phone icon/link)
(email icon/link)
(facebook icon/link)</p>

	</div>

 <div class="main">
    <div class="gallery">
    <a target="_blank" href="img_5terre.jpg">
        <img src="{% static 'img/first.jpg' %}" alt="Cinque Terre" style="width: 350px; height: 320px;">
    </a>
 </div>
   

    <div class="gallery two">
    <a target="_blank" href="img_5terre.jpg">
        <img src="{% static 'img/second.jpg' %}" alt="Cinque Terre" style="width: 350px; height: 320px;">
    </a>
 </div>
  
</div>

<div class="about">
	
	<p class="about">I am NYOMAN ZENG. You can call me NYOMAN. 

Did you know, in Balinese, NYOMAN means second child?

I have been a tour guide and tourist driver for more than 8 years. 
I enjoy meeting people from around the world and getting to know their different cultures.  I believe that the best way my guests can experience Bali is by introducing them to our culture and tradition. To make my guests feel safe, I always take the time to explain the hotels and tourist spots. I can offer a comfortable car ride with music from your home and  stories for my home.

It is my pleasure to make you feel at home in Bali. You don't have to worry about me waiting - my hours for you are flexible and friendly. If you need a photographer, I can do that for you, too. 

This has been a passion even with my 2 years experience in a cruise ship and 10 years experience in the hotel industry. I look forward to showing you the beauty that is my home, Bali.</p>

</div>


<!-- <article>

	<div class="gallery">
    <a target="_blank" href="img_5terre.jpg">
        <img src="{% static 'img/first.jpg' %}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <a target="_blank" href="img_forest.jpg">
        <img src="{% static 'img/first.jpg' %}" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <a target="_blank" href="img_lights.jpg">
        <img src="{% static 'img/first.jpg' %}" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <a target="_blank" href="img_lights.jpg">
        <img src="{% static 'img/first.jpg' %}" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>


</article> -->








<!-- <div class="footer">
	<h2>Footer</h2>
</div> -->

</body>
</html>
